<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv='Content-type' content='text/html; charset=utf-8' />
    <title>Внезапно, iTunes</title>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag "lowpro.jquery.js" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>

